.black {
color: black;
}

.white {
color: white;
}
   
.navy {
 color: #182742;
}

.royal_blue_ribbon {
 color: #1E48CE;
}

.sea_breeze_blue {
color: #367BE7;
}

.gloomy_blue {
color: #99C2DE;
}

.mangooo {
color: #FCC55C;
}

.ice_blue {
color: #D4EEFD
}

.electric_slime {
color: #E8FD7D;
}

.limeade {
color: #CDF564;
}

.sea_breeze_blue {
 color: #5791DF;
}

.grey {
    color: #9CA5AF;;
   }
