.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  z-index: 3;
  width: 772px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.illustrations {
  z-index: 0;
  display: flex;
  position: absolute;
  gap: 332px;
}

.trust {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  margin-top: 440px;
}

.trust_logos {
  display: flex;
  align-items: center;
  gap: 26px;
  z-index: 2;
}

.access_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 111px;
  margin-top: 195px;
}

.products {
  width: 1470px;
  display: flex;
  gap: 22px;
  justify-content: center;

}

.product {
  width: 350px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 125.3px;
  background-color: #c4c4c4;
}

.join_crowd {
display: flex;
align-items: center;
justify-content: center;
width: 1680px;
height: 573px;
background: #C4C4C4;
margin-top: 188px;
}


.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;
    margin-top: 160px;
}

.tool_highlight {
  display: flex;
  gap: 32px;
}

.tool {
  width: 355px;
  height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}

.extra_tools {
  display: flex;
  flex-direction: column;
  gap: 94px;
  margin-top: 175px;
  align-items: center;
}


.tools_rows {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.tools_row {
  display: flex;
  gap: 73px;
}

.feature {
  width: 214px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.extra_tool_icon {
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
}


.behind_the_brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 102px;
  margin-top: 196px;
}

.behind_the_brand_row {
  display: flex;
  gap: 31px;
}

.row_item {
  border-radius: 30px;
  box-shadow: 2px 4px 20px 0 rgba(15, 2, 91, 0.07), -2px -4px 20px 0 rgba(15, 2, 91, 0.07);
}

.rounded_rectangular {
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  border-radius: 30px;
}

.row_item_img {
  width: 360px;
  height: 220px;
  border-radius: 30px;
}

.row_item_text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 263px;
}


